/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* styles.css */
/* Existing styles remain unchanged */

.container {
    display: flex;
    flex-direction: column; /* Adjusted to stack elements vertically */
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.description {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc; /* Add a border below the description */
}

/* Rest of your existing styles */


.contact,
.payment {
    flex: 1;
    text-align: left;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

p {
    margin: 10px 0;
    color: #555;
}

strong {
    font-weight: bold;
}

.payment-container {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    padding-top: 0;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.payment-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    margin: 20px 0;
}

p {
    margin: 10px 0;
}

button.enquire-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button.enquire-button:hover {
    background-color: #0056b3;
}

a.cancel-button {
    text-decoration: none;
    color: #777;
    margin-top: 10px;
    font-size: 14px;
}

a.cancel-button:hover {
    color: #333;
}

.map {
    flex: 1;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 5px;
}

.map iframe {
    width: 50%;
    height: 150px;
    border: none;
}

